.rightBodyHeaderBar {
    margin: 10px;
    padding-left: 20px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #001529, #20BDFF, #A5FECB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001529, #20BDFF, #A5FECB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}